@model SDSDWorkOrder.Models.WorkOrders
@{
    var title = "Create Work Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Work Order Form</h3>

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                @*<div class="col-lg-5 d-none d-lg-block bg-register-image">
                    </div>*@
                <div class="col-lg-12">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">create a new work order</h1>
                            <h3 class="mb-4">@ViewBag.RandomNumber</h3>
                        </div>
                        <form method="post" asp-action="AddWorkOrder">
                            <div class="form-group row">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                @if (Model.Id != 0)
                                {
                                    <input type="hidden" asp-for="Id" />
                                    title = "Edit Work Order";
                                }


                                <div class="col-12">
                                    <h2 class="text-primary">@title</h2>
                                    <br />
                                </div>
                                <div class="col-sm-6">

                                    <select asp-for="@Model.ClientId" class="form-control" asp-items="ViewBag.Clients">
                                        <option selected>...Choose Client...</option>
                                    </select>
                                    <span asp-validation-for="@Model.ClientId" class="text-danger"></span>
                                </div>

                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <select asp-for="@Model.Country" class="form-control" asp-items="Html.GetEnumSelectList<Country>()">
                                        <option selected>...Select Location...</option>
                                    </select>


                                    <span asp-validation-for="@Model.Country" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input id="txtHint" type="text" asp-for="@Model.Details" class="form-control" placeholder=" Work Order Title ">
                                    <span asp-validation-for="@Model.Details" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6  mb-3 mb-sm-0">


                                    <select asp-for="@Model.ProductId" class="form-control" asp-items="ViewBag.Products">
                                        <option selected>...Choose Product...</option>
                                    </select>
                                    <span asp-validation-for="@Model.ProductId" class="text-danger"></span>

                                </div>
                                <div class="col-sm-12 mt-3 mb-sm-0">
                                    <textarea type="text" asp-for="@Model.Description" class="form-control " placeholder="Work Order Description"></textarea>
                                    <span asp-validation-for="@Model.Description" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label asp-for="@Model.AnnualFDHAllowance"></label>
                                    <input type="text" asp-for="@Model.AnnualFDHAllowance" class="form-control" placeholder="e.g 100/hrs">

                                    <span asp-validation-for="@Model.AnnualFDHAllowance" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label asp-for="@Model.AnnualFDHBalance"></label>
                                    <input type="text" asp-for="@Model.AnnualFDHBalance" class="form-control" placeholder="e.g 100/hrs">

                                    <span asp-validation-for="@Model.AnnualFDHBalance" class="text-danger"></span>
                                </div>

                            </div>

                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label asp-for="@Model.CreatedDate"></label>
                                    <input asp-for="@Model.CreatedDate" type="date" class="form-control">

                                    <span asp-validation-for="@Model.CreatedDate" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label asp-for="@Model.EstimatedDeliveryDate"></label>
                                    <input asp-for="@Model.EstimatedDeliveryDate" type="date" class="form-control">

                                    <span asp-validation-for="@Model.EstimatedDeliveryDate" class="text-danger"></span>
                                </div>


                            </div>

                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label asp-for="@Model.TimeChargeable"></label>
                                    <input asp-for="@Model.TimeChargeable" type="text" placeholder="e.g 100/hrs" class="form-control">

                                    <span asp-validation-for="@Model.TimeChargeable" class="text-danger"></span>
                                </div>
                                
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label asp-for="@Model.AccountOfficersId"></label>
                                    <select asp-for="@Model.AccountOfficersId" class="form-control" asp-items=" ViewBag.AccountOfficer">
                                        <option selected>...Choose Account Officer...</option>
                                    </select>
                                    <span asp-validation-for="@Model.AccountOfficersId" class="text-danger"></span>
                                </div>
                            </div>

                            @*<input type="submit" class="btn btn-primary btn-user btn-block" value="Create" />*@
                            <div class="form group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <div class="col-sm-6 mb-3 mb-sm-0">


                                    </div>
                                    &ensp;
                                    @if (Model.Id != 0)
                                    {
                                        //Edit Button and Back to List
                                        <partial name="_EditAndBackToListButton" model="Model.Id" />
                                    }
                                    else
                                    {
                                        //Create button and Back to List
                                        <partial name="_CreateAndBackToListButton" model="Model.Id" />
                                    }
                                </div>
                            </div>

                            <hr>
                        </form>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


