@model SDSDWorkOrder.Models.WorkOrders
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

@*<h1>Details</h1>*@
<h4 class="text-center mb-4">Add Comments To WorkOrder Below The Table</h4>
@*<div>

        <hr />
        <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Details)
                </dt>

                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Details)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-10">
                </dd>
                    @Html.DisplayFor(model => model.Description)

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Client)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Client.Name)
                </dd>
            </dl>
        <div class="form-group row">

            <div class="col-sm-6 mb-3 mb-sm-0" asp-for="">

                @foreach (var item in Model.Comments)
                {<hr />
                    <div>
                        <p><b>Comments</b></p>
                        <p>@item.Text</p>

                        <p>date @item.CreatedDate</p>
                    </div>
                }
                @{ await Html.RenderPartialAsync("_Comment", new SDSDWorkOrder.Models.ViewModels.CommentViewModel { WorkOrderId = Model.Id, CommentId = 0 });
                }
                ;
            </div>
            <div class="col-sm-6 mb-3 mb-sm-0">

            </div>

        </div>
    </div>*@

<div class="container">
    <table class="table table-bordered table-responsive">
        <tr>
            <th colspan="2" class="text-center">Order Request Form</th>
            <td colspan="2" class="text-center">

                <img src="~/img/logo.jpg" width="150" alt="sdsd image is placed here" />
            </td>
        </tr>
        <tr>
            <th>Client Name:</th>
            <td>  @Html.DisplayFor(model => model.Client.Name)</td>
            <th>Available FDH Allowance:</th>
            <td> @Html.DisplayFor(model => model.AnnualFDHAllowance)</td>
        </tr>
        <tr>
            <th>Location:</th>
            <td>Drop list of countries</td>
            <th>Available FDH Balance:</th>
            <td> @Html.DisplayFor(model => model.AnnualFDHBalance)</td>
        </tr>
        <tr class="bg-light">
            <th>Project</th>
            <td> @Html.DisplayFor(model => model.Details)</td>
            <th>Estimated time by the account manager</th>
            <td> @Html.DisplayFor(model => model.EstimatedDeliveryDate)</td>
        </tr>
        <tr>
            <th>Request Order(In details)</th>
            <td> @Html.DisplayFor(model => model.Description)</td>
            <th>Estimated project time chargeable(Y/N)</th>
            <td>Drop list of yes/no selected appears here</td>
        </tr>
        <tr>
            <th colspan="4" class="text-center">Approval Details</th>
        </tr>
        @foreach (var item in Model.Comments)
        {
            var index1 = Model.Comments.Where(x => x.Id == 1);
            var index2 = Model.Comments.Where(x => x.Id == 2);
            @if (item.Id == 1)
            {
                <tr>
                    <th colspan="4" class="text-center"></th>
                </tr>

                <tr>
                    <th>Approval Status:</th>
                    <td colspan="3"><p>Approved</p></td>
                </tr>

                <tr>
                    <th>Account officer:</th>
                    <td colspan="3"><p>@item.User</p></td>
                </tr>
                <tr>
                    <th>User comment:</th>
                    <td colspan="3"><p>@item.Text</p></td>
                </tr>
                <tr>
                    <th>Date:</th>
                    <td colspan="3">
                        <p>date @item.CreatedDate</p>
                    </td>
                </tr>
            }
            @if (item.Id == 2 )
                
            {
                <tr>
                    <th colspan="4" class="text-center"></th>
                </tr>

                <tr>
                    <th>Approval Status:</th>
                    <td colspan="3"><p>Approved</p></td>
                </tr>

                <tr>
                    <th>Project Manager:</th>
                    <td colspan="3"><p>@item.User</p></td>
                </tr>
                <tr>
                    <th>User comment:</th>
                    <td colspan="3"><p>@item.Text</p></td>
                </tr>
                <tr>
                    <th>Date:</th>
                    <td colspan="3">
                        <p>date @item.CreatedDate</p>
                    </td>
                </tr>
            }
            @if (item.Id == 3)
            {
                <tr>
                    <th colspan="4" class="text-center"></th>
                </tr>

                <tr>
                    <th>Approval Status:</th>
                    <td colspan="3"><p>Approved</p></td>
                </tr>

                <tr>
                    <th>Project Manager:</th>
                    <td colspan="3"><p>@item.User</p></td>
                </tr>
                <tr>
                    <th>User comment:</th>
                    <td colspan="3"><p>@item.Text</p></td>
                </tr>
                <tr>
                    <th>Date:</th>
                    <td colspan="3">
                        <p>date @item.CreatedDate</p>
                    </td>
                </tr>
            }

        }

    </table>



</div>

<div>



    <div class="form-group row">

        <div class="col-sm-6 mb-3 mb-sm-0" asp-for="">

            @foreach (var item in Model.Comments)
            {<hr />
             <div>
                 <p><b>Comments</b></p>
                 <p>@item.Text</p>
                 <p>@item.Id</p>
                 <p>@item.User</p>





                 <p>date @item.CreatedDate</p>
             </div>


            }
            @if (signInManager.IsSignedIn(User) && User.IsInRole("ProjectManager") && Model.Comments.Count == 0)

            {
                @*@foreach (var item in Model.Comments)
                {*@
                    //if (item.PMApproval == false)
                    //{
                        <div class="col-12">
                            @{ await Html.RenderPartialAsync("_Comment", new SDSDWorkOrder.Models.ViewModels.CommentViewModel { WorkOrderId = Model.Id, CommentId = 0, Count =1 });
                            }
                            ;
                        </div>
                    @*}*@
                                //}
            }

            @if (signInManager.IsSignedIn(User) && User.IsInRole("AccountOfficer") && Model.Comments.Count ==1)

            {
                @foreach (var item in Model.Comments)
                {
                    if (item.PMApproval == true)
                    {
                        <div class="col-12">
                            @{ await Html.RenderPartialAsync("_Comment", new SDSDWorkOrder.Models.ViewModels.CommentViewModel { WorkOrderId = Model.Id, CommentId = 0, Count =2 });
                            }
                            ;
                        </div>
                    }
                }

            }
            @if (signInManager.IsSignedIn(User) && User.IsInRole("Management") && Model.Comments.Count == 2)

            {
                @foreach (var item in Model.Comments)
                {
                    if (item.ACApproval == true)
                    {
                        <div class="col-12">
                            @{ await Html.RenderPartialAsync("_Comment", new SDSDWorkOrder.Models.ViewModels.CommentViewModel { WorkOrderId = Model.Id, CommentId = 0, Count =3});
                            }
                            ;
                        </div>
                    }
                }

            }

        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">

        </div>

    </div>
</div>
